/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #FAF5E9;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 50px;
}

h2 {
	font-family: Poppins;
	font-weight: bold;
	font-size: 31px;
	text-align: center;
}

p {
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 31px;
}

.lees-meer {
	border: none;
	background: #E88FBC;
	width: 238.7px;
	height: 82.63px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 25px;
}





/* Header */

.bg-cont {
	background-image: url('/assets/background/bg-header.svg');
	background-size: cover;
	background-position: 0;

	width: 100%;
	height: 423px;
}

.header-cont {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-evenly;
	max-width: 1440px;
	height: 370px;

}

.logo-top {
	display: block;
	margin-left: 5%;
	margin-bottom: 3%;
}

.logo-top img {
	max-width: 80%;
}

.header-cont nav {
	display: block;
	margin-left: 5%;
	width: 100%;
	margin-bottom: 5%;
}

.header-cont ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.header-cont li {
	display: inline;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1em;
}

.vormpjes-cont {
	position: absolute;
	width: 100%;
	height: 370px;
}

.hv1 {
	position: absolute;
	top: 1%;
	left: 1%;
	scale: .7;
}

.hv2 {
	position: absolute;
	top: 70%;
	right: 92%;
	scale: .7;
}

.hv3 {
	position: relative;
	right: 17%;
	margin-top: 20%;
	scale: .6;
}

.hv4 {
	position: absolute;
	top: -7%;
	left: 57%;
	scale: .7;
}

.hv5 {
	position: absolute;
	top: 65%;
	right: 25%;
	scale: .7;
}

.hv6 {
	position: absolute;
	top: -12%;
	left: 75%;
	scale: .7;
}

.hv7 {
	position: absolute;
	top: 50%;
	left: 80%;
	scale: .7;
}

.hv8 {
	position: absolute;
	top: 10%;
	left: 89%;
	scale: .7;
}

/* Belang Code */

.belang-cont {
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 100px;

}

.belang-item-img {
	width: 50%;
}


.belang-item-p {
	width: 48%;
}

.belang-item-p h1 {
	margin-bottom: 34px;
}

.belang-item-p p {
	margin-bottom: 60px;
}



.belang-smiley {
	margin-left: 334px;
}


/* Coderen voor kinderen */

.jong-cont {
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 100px;
}

.jong-item-p {
	width: 48%;
}

.jong-item-img {
	width: 48%;
}

.jong-item-p h1 {
	margin-top: 47px;
	margin-bottom: 36px;
	width: 50%
}

.jong-item-p p {
	margin-bottom: 64px;
}

.jong-smiley {
	margin-left: 281px;
}

/* Workshops */

.workshop-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;

}



.workshop-header p {
	margin-top: 94px;
}

.workshop-cont {
	display: flex;
	max-width: 75%;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 94px;
}

.workshop-item {
	width: 33%;
}


.workshop-item h1 {
	margin-top: 35px;
	margin-bottom: 10px;
	font-size: 30px;
}

.workshop-item-1 a {
	text-align: center;
	color: black;
	text-decoration: none;  
	display: block;
	background: #E88FBC;
	width: 238.7px;
	height: 82.63px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 25px;
	line-height: 82.63px;
}

.workshop-item p {
	margin-bottom: 30px;
}

.workshop-item .lees-meer {
	border-radius: 40px;
}


/* Expositie */

.mid-blob {
	background-image: url('/assets/background/mid-blob.png');
	background-size: cover;
	width: 100%;
	height: 1709px;
	margin-top: 96px;
	padding-bottom: 96px;

}

.expositie-header {
	display: block;
	width: 35%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;

}

.expositie-header h1 {
	margin-top: 157px;
	margin-bottom: 11px;
}

.expositie-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	margin: 100px auto 0;
}


/* Docu */

.docu-header {
	display: block;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	margin-top: 145px;
	margin-bottom: 104px;

}

.docu-cont {
	width: 64.5%;
	margin: 0 auto;
}


/* Footer */

.footer-blob {
	background-image: url('/assets/background/Group\ 151.png');
	background-size: cover;
	background-position: 0;
	width: 100%;
	height: 639px;
	padding-top: 50px;
	margin-top: 212px;
}

.logo-bottom {
	display: block;
	margin-left: 5%;
	margin-top: 4%;
	max-width: 10%;
}

.footer-cont {
	display: flex;
	max-width: 90%;
	justify-content: space-around;
	margin: 100px auto 0;
}

.footer-item {
	width: 28%;
}

.footer-item h2 {
	margin-bottom: 30px;
}

.footer-item p {
	text-align: center;
	margin-bottom: 30px;
}

.footer-item {
	width: calc(28% - 20px - 20px);
}

.footer-item-2 {
	width: 10px;
	background-color: black;
}



.footer-item-4 {
	width: 10px;
	background-color: black;
}

/* @media screen and (max-width: 699px) {

} */