/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #FAF5E9;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 50px;
}

h2 {
	font-family: Poppins;
	font-weight: bold;
	font-size: 31px;
	text-align: center;
}

p {
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 31px;
}

.lees-meer {
	border: none;
	background: #E88FBC;
	width: 238.7px;
	height: 82.63px;
	border-radius: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 25px;
}



/* Header */

.bg-cont {
	background-image: url('/assets/background/bg-header.svg');
	background-size: cover;
	background-position: 0;

	width: 100%;
	height: 423px;
}

.hamburger {
	display: none;
}

.header-cont {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-evenly;
	max-width: 1440px;
	height: 370px;

}



.logo-top {
	display: block;
	margin-left: 5%;
	margin-bottom: 3%;
	z-index: 3;
}

.logo-top img {
	max-width: 80%;
}

.header-cont nav {
	display: block;
	margin-left: 5%;
	width: 100%;
	margin-bottom: 5%;
}

.header-cont ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.header-cont li {
	display: inline;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1em;
}

.vormpjes-cont {
	position: absolute;
	width: 100%;
	height: 370px;
}

.hv1 {
	position: absolute;
	top: 1%;
	left: 1%;
	scale: .7;
}

.hv2 {
	position: absolute;
	top: 70%;
	right: 92%;
	scale: .7;
}

.hv3 {
	position: absolute;
	top: 40%;
	left: 25%;
	z-index: 2;
}

.hv4 {
	position: absolute;
	top: -7%;
	left: 57%;
	scale: .7;
}

.hv5 {
	position: absolute;
	top: 65%;
	right: 25%;
	scale: .7;
}

.hv6 {
	position: absolute;
	top: -12%;
	left: 75%;
	scale: .7;
}

.hv7 {
	position: absolute;
	top: 50%;
	left: 80%;
	scale: .7;
}

.hv8 {
	position: absolute;
	top: 10%;
	left: 89%;
	scale: .7;
}

/* Workshop Kunst */

.kunst-cont {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 88.5%;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.kunst-item-img {
	width: 583px;
}


.kunst-item-p {
	width: 540px
}

.kunst-item-p h1 {
	margin-bottom: 34px;
}

.kunst-item-p p {
	margin-bottom: 60px;
}

#workshop-ster{
	position: absolute;
	margin-top: -4%;
	margin-left: -5%;
}

.workshop-swirl{
	position: absolute;
	margin-top: -6%;
	margin-left: 10%;
}

.workshop-strepen{
	position: absolute;
	margin-top: 35%;
	margin-left: -5%;
}

.swirl{
	display: none;
}

/* Het lesplan */

.lesplan-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;

}

.squigles-lesplan{
	position: absolute;
	margin-top: -3%;
	margin-left: -12%;
}

.streep-lesplan{
	position: absolute;
	margin-top: 0%;
	margin-left: 1%;
}


/* Les 1 */

.les1-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 88.5%;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.les1-item-img {
	width: 493px;
}


.les1-item-p {
	width: 543px;
}

.les1-item-p h1 {
	margin-bottom: 34px;
}

.les1-item-p p {
	margin-bottom: 60px;
}

.roze-smiley-les{
	position: absolute;
	margin-left: 13%;
	margin-top: -5%;
}

.loop-les-1{
	position: absolute;
	margin-top: -4%;
}

.streep-les-1{
	position: absolute;
	margin-top: 37%;
	margin-left: -39%;
}

/* les 2 */
.les2-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 88.5%;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.les2-item-img {
	width: 493px;
}


.les2-item-p {
	width: 543px;
}

.les2-item-p h1 {
	margin-bottom: 34px;
}

.les2-item-p p {
	margin-bottom: 60px;
}

.squigle-les-2{
	position: absolute;
	margin-top: -13%;
	margin-left: 20%;
}

.les-smiley-geel{
	position: absolute;
	margin-top: -5%;
	margin-left: 35%;
}

/* les 3 */
.les3-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 88.5%;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.les3-item-img {
	width: 493px;
}


.les3-item-p {
	width: 543px;
}

.les3-item-p h1 {
	margin-bottom: 34px;
}

.les3-item-p p {
	margin-bottom: 60px;
}

.strepen-les-3{
	position: absolute;
	margin-top: -1%;
	margin-left: -7%;
}

.sterren-groep-les{
	position: absolute;
	margin-left: 30%;
	margin-top: -8%;
}

.squigle-les-3{
	display: none;
}

.squigle-les-3{
	display: none;
}



/* download de workshop */

.download-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;

}

.download-header p {
	margin-top: 54px;
}

.download-header a {
	text-align: center;
	color: black;
	text-decoration: none;
	display: block;
	background: #E88FBC;
	width: 238.7px;
	height: 82.63px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 25px;
	line-height: 82.63px;
	margin: 0 auto;
	margin-top: 50px;
}

.download-hoek-lb{
	position: absolute;
	margin-top: -3%;
	margin-left: -30%;
}

.download-hoek-rb{
	position: absolute;
	margin-top: -3%;
	margin-left: 30%;
}

.download-hoek-lo{
	position: absolute;
	margin-top: 3%;
	margin-left: -30%;
}

.download-hoek-ro{
	position: absolute;
	margin-top: 3%;
	margin-left: 30%;
}

.ster-blauw-download{
	display: none;
}



/* boek een workshop */

@keyframes shake {
	0% {
		transform: translateX(0);
		background: red;
		opacity: 1;
	}

	25% {
		transform: translateX(-8px);
		background: red;
		opacity: .4;
	}

	75% {
		transform: translateX(8px);
		background: red;
		opacity: .4;
	}

	100% {
		transform: translateX(0);
		background: red;
		opacity: 1;
	}
}

.shake {
	animation: shake 0.4s ease-in-out;
}

.boek-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;
}

.form {
	margin: 0 auto;
	width: 70%;
	height: auto;
}

.form-cont {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 60px;
	text-align: center;
	width: 70%;
	height: auto;
}

.form-cont h2 {
	position: relative;
	color: #090909;
	padding-top: 20px;
}

.input-message {
	display: block;
	width: 100%;
	height: 200px;
	border: 6px solid #090909;
	border-radius: 10px;
	background: none;
	color: #E88FBC;
	padding: 5px;
	margin-top: 60px;
}

.input-mail {
	display: block;
	width: 60%;
	height: auto;
	border: 3px solid #090909;
	border-radius: 10px;
	background: none;
	color: #E88FBC;
	padding: 5px;
}

.email-cont {
	display: flex;
	justify-content: space-evenly;
	margin-top: 60px;
	height: 40px;
}

.submit-message {
	border: none;
	background: none;
	background-color: #E88FBC;
	border-radius: 25px;
	font-weight: 700;

	width: 20%;
}

.submit-message:hover {
	background-color: #888;
}

.modal {
	display: none;

	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	/*Opacity veranderen, zonder kleur te veranderen*/

}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.post-content {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.post-content img {
	max-width: 100%;
	max-height: 200px;
	object-fit: contain;
	margin: 5px;
	cursor: pointer;
}

.post-content img.expanded {
	max-width: none;
	max-height: none;
	width: auto;
	height: auto;
}

.strepen-boek-links{
	position: absolute;
	margin-top: .8%;
	margin-left: -14%;
}

.strepen-boek-rechts{
	position: absolute;
	margin-top: -2.7%;
	margin-left: 12%;
}

/* Footer */

.footer-blob {
	background-image: url('/assets/background/Group\ 151.png');
	background-size: cover;
	background-position: 0;
	width: 100%;
	height: 639px;
	padding-top: 50px;
	margin-top: 212px;
}

.logo-bottom {
	display: block;
	margin-left: 5%;
	margin-top: 4%;
	max-width: 10%;
}

.footer-cont {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	justify-content: space-around;
	margin: 100px auto 0;
}



.footer-item h2 {
	margin-bottom: 30px;
}

.footer-item p {
	text-align: center;
	margin-bottom: 30px;
}

.footer-item {
	width: 308px;
}

.footer-item-2 {
	width: 10px;
	background-color: black;
}



.footer-item-4 {
	width: 10px;
	background-color: black;
}

.loop-boeking-workshop{
	position: absolute;
	margin-top: -5%;
	margin-left: 7.5%;
}

.line-versterk-workshop{
	position: absolute;
	margin-top: -11%;
	margin-left: 7.5%;
}

.scribble-socials-workshop{
	position: absolute;
	margin-top: -7%;
	margin-left: -3%;
}


@media screen and (max-width: 425px) {
	h1 {
		font-size: 36px;
		text-align: center;
	}

	h2 {
		font-size: 20px;

	}

	p {
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		line-height: 25px;

	}


	/* header */

	.none {
		display: none;
	}

	.header-cont ul {
		display: none;
	}

	.logo-top {
		position: absolute;
		z-index: 3;
	}

	.logo-top img {
		max-width: 80%;
	}

	.hv3 {
		position: absolute;
		top: 2%;
		left: 0;
		z-index: 2;
		scale: 0.7;
	}

	.hv6 {
		position: absolute;
		top: 60%;
		left: 70%;
		z-index: 2;
		scale: 0.6;
	}

	.hv8 {
		position: absolute;
		top: 70%;
		left: 2%;
		z-index: 2;
		scale: 0.5;
	}

	.hamburger {
		display: block;
		position: absolute;
		top: 8%;
		left: 70%;
	}

	/* Workshop Kunst */

	#workshop-ster{
		position: absolute;
		margin-top: -20%;
		margin-left: -22%;
		scale: .5;
	}

	.workshop-swirl{
		display: none;
	}
	
	.workshop-strepen{
		position: absolute;
		margin-top: 75%;
		margin-left: -16%;
		scale: .5;
	}

	.swirl{
		display: block;
	}
	
	
	

	.kunst-cont {
		max-width: 82%;
		position: relative;
	}

	.kunst-item-img {
		width: 320px;
		margin-top: 200px;
	}


	.kunst-item-p {
		width: 319px;
		text-align: center;
	}

	.kunst-item-p h1 {
		position: absolute;
		top: 10%;
	}

	.kunst-item-p p {
		margin-top: 50px;

	}

	/* Het lesplan */

	.lesplan-header {
		width: 72.6%;
		margin: 100px auto 0;
		text-align: center;

	}

	.squigles-lesplan{
		position: absolute;
		margin-top: -7%;
		margin-left: -35%;
	}
	
	.streep-lesplan{
		position: absolute;
		margin-top: -3%;
		margin-left: -10%;
		scale: 0.9;
	}
	

	/* Les 1 */

	.streep-les-1{
		position: absolute;
		margin-top: 60%;
		margin-left: -35%;
		scale: 0.2;
	}

	.roze-smiley-les{
		position: absolute;
		margin-left: 60%;
		margin-top: -10%;
		scale: 0.6;
	}
	
	.loop-les-1{
		position: absolute;
		margin-top: -22%;
		margin-left: 20%;
		scale: .6;
	}
	
	

	.les1-cont {
		max-width: 82%;
		padding-top: 100px;
		position: relative;
	}



	.les1-item-img img {
		position: absolute;
		top: 5%;
		left: 10%;
		width: 251px;
	}


	.les1-item-p {
		width: 319px;
		margin-top: 320px;
	}



	.les1-item-p p {
		margin-bottom: 0px;
	}

	/* les 2 */

	.squigle-les-2{
		position: absolute;
		margin-top: -35%;
		margin-left: 30%;
		scale: .4;
	}
	
	.les-smiley-geel{
		position: absolute;
		margin-top: -15%;
		margin-left: -10%;
		scale: .5;
	}
	

	.les2-cont {
		max-width: 82%;
		padding-top: 100px;
	}

	.les2-item-img {
		width: 251px;
		margin-bottom: 20px;
	}


	.les2-item-p {
		width: 319px;
	}

	/* les 3 */

	.strepen-les-3{
		position: absolute;
		margin-top: -8%;
		margin-left: 0%;
		scale: .7;
	}
	
	.sterren-groep-les{
		position: absolute;
		margin-left: 70%;
		margin-top: -20%;
		scale: .5;
	}


	.squigle-les-3{
		position: absolute;
		margin-left: 0%;
		margin-top: 0%;
	}

	.les3-cont {
		max-width: 82%;
		padding-top: 100px;
		position: relative;
	}

	.les3-item-img img{
		position: absolute;
		width: 251px;
		top: 5%;
		left: 10%;
	}


	.les3-item-p {
		width: 319px;
		margin-top: 320px;
	}

	/* download de workshop */

	.download-hoek-lb{
		position: absolute;
		margin-top: -3%;
		margin-left: -35%;
	}
	
	.download-hoek-rb{
		position: absolute;
		margin-top: -3%;
		margin-left: 35%;
	}
	
	.download-hoek-lo{
		position: absolute;
		margin-top: 3%;
		margin-left: -35%;
	}
	
	.download-hoek-ro{
		position: absolute;
		margin-top: 3%;
		margin-left: 35%;
	}	

	.download-header {
		width: 62%;
		margin: 100px auto 0;
	}

	.download-header h1{
		font-size: 20px;
	}

	.download-header a {
		width: 190px;
		height: 49px;
		border-radius: 50px;
		font-size: 20px;
		line-height: 50px;
		margin: 0 auto;
		margin-top: 50px;
	}

	.ster-blauw-download{
		display: block;
		margin-top: 25%;
		margin-left: 25%;
	}

	/* boek een workshop */

	.strepen-boek-links{
		position: absolute;
		margin-top: .8%;
		margin-left: -17%;
		scale: .6;
	}
	
	.strepen-boek-rechts{
		position: absolute;
		margin-top: -8%;
		margin-left: 13%;
		scale: .6;
	}	


	/* footer */

	.footer-blob {
		height: 1000px;
	}

	.footer-item {
		width: 269px;
		margin-bottom: 50px;
	}

	.footer-cont p {
		line-height: 10px;
	}

	.footer-item-2 {
		display: none;
	}

	.footer-item-4 {
		display: none;
	}


	.logo-bottom {
		display: block;
		position: absolute;
		margin-left: 31%;
		margin-top: 180%;
		max-width: 40%;
	}

	.loop-boeking-workshop{
		display: none;
	}
	
	.line-versterk-workshop{
		position: absolute;
		margin-top: -26%;
		margin-left: 30%;
	}
	
	.scribble-socials-workshop{
		position: absolute;
		margin-top: -24%;
		margin-left: -5%;
		scale: .6;
	}
	

}