/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #FAF5E9;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 50px;
}

h2 {
	font-family: Poppins;
	font-weight: bold;
	font-size: 31px;
	text-align: center;
}

p {
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 31px;
}

.lees-meer {
	border: none;
	background: #E88FBC;
	width: 238.7px;
	height: 82.63px;
	border-radius: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 25px;
}



/* Header */

.bg-cont {
	background-image: url('/assets/background/bg-header.svg');
	background-size: cover;
	background-position: 0;

	width: 100%;
	height: 423px;
}

.header-cont {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-evenly;
	max-width: 1440px;
	height: 370px;

}

.logo-top {
	display: block;
	margin-left: 5%;
	margin-bottom: 3%;
	z-index: 3;
}

.logo-top img {
	max-width: 80%;
}

.header-cont nav {
	display: block;
	margin-left: 5%;
	width: 100%;
	margin-bottom: 5%;
}

.header-cont ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.header-cont li {
	display: inline;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1em;
}

.vormpjes-cont {
	position: absolute;
	width: 100%;
	height: 370px;
}

.hv1 {
	position: absolute;
	top: 1%;
	left: 1%;
	scale: .7;
}

.hv2 {
	position: absolute;
	top: 70%;
	right: 92%;
	scale: .7;
}

.hv3 {
	position: relative;
	right: 17%;
	margin-top: 20%;
	scale: .6;
}

.hv4 {
	position: absolute;
	top: -7%;
	left: 57%;
	scale: .7;
}

.hv5 {
	position: absolute;
	top: 65%;
	right: 25%;
	scale: .7;
}

.hv6 {
	position: absolute;
	top: -12%;
	left: 75%;
	scale: .7;
}

.hv7 {
	position: absolute;
	top: 50%;
	left: 80%;
	scale: .7;
}

.hv8 {
	position: absolute;
	top: 10%;
	left: 89%;
	scale: .7;
}

/* Workshop Kunst */

.kunst-cont {
	display: flex;
	justify-content: space-between;
	max-width: 1275px;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.kunst-item-img {
	width: 50%
}


.kunst-item-p {
	width: 40%
}

.kunst-item-p h1 {
	margin-bottom: 34px;
}

.kunst-item-p p {
	margin-bottom: 60px;
}

/* Het lesplan */

.lesplan-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;

}



/* Les 1 */

.les1-cont {
	display: flex;
	justify-content: space-between;
	max-width: 1275px;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.les1-item-img {
	width: 588px;
}


.les1-item-p {
	width: 547px;
}

.les1-item-p h1 {
	margin-bottom: 34px;
}

.les1-item-p p {
	margin-bottom: 60px;
}


/* les 2 */
.les2-cont {
	display: flex;
	justify-content: space-between;
	max-width: 1275px;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.les2-item-img {
	width: 588px;
}


.les2-item-p {
	width: 547px;
}

.les2-item-p h1 {
	margin-bottom: 34px;
}

.les2-item-p p {
	margin-bottom: 60px;
}

/* les 3 */
.les3-cont {
	display: flex;
	justify-content: space-between;
	max-width: 1275px;
	margin: 0 auto;
	padding-top: 100px;
	align-items: center;
}

.les3-item-img {
	width: 588px;
}


.les3-item-p {
	width: 547px;
}

.les3-item-p h1 {
	margin-bottom: 34px;
}

.les3-item-p p {
	margin-bottom: 60px;
}

/* download de workshop */

.download-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;

}

.download-header p {
	margin-top: 54px;
}

.download {
	border-radius: 40px;
	margin-top: 94px;
}

/* boek een workshop */

@keyframes shake {
	0% {
		transform: translateX(0);
		background: red;
		opacity: 1;
	}

	25% {
		transform: translateX(-8px);
		background: red;
		opacity: .4;
	}

	75% {
		transform: translateX(8px);
		background: red;
		opacity: .4;
	}

	100% {
		transform: translateX(0);
		background: red;
		opacity: 1;
	}
}

.shake {
	animation: shake 0.4s ease-in-out;
}

.boek-header {
	width: 40%;
	margin: 135px auto 0;
	text-align: center;
}

.form {
	margin: 0 auto;
	width: 70%;
	height: auto;
}

.form-cont {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 60px;
	text-align: center;
	width: 70%;
	height: auto;
}

.form-cont h2 {
	position: relative;
	color: #090909;
	padding-top: 20px;
}

.input-message {
	display: block;
	width: 100%;
	height: 200px;
	border: 6px solid #090909;
	border-radius: 10px;
	background: none;
	color: #E88FBC;
	padding: 5px;
	margin-top: 60px;
}

.input-mail {
	display: block;
	width: 60%;
	height: auto;
	border: 3px solid #090909;
	border-radius: 10px;
	background: none;
	color: #E88FBC;
	padding: 5px;
}

.email-cont {
	display: flex;
	justify-content: space-evenly;
	margin-top: 60px;
	height: 40px;
}

.submit-message {
	border: none;
	background: none;
	background-color: #E88FBC;
	border-radius: 25px;
	font-weight: 700;

	width: 20%;
}

.submit-message:hover {
	background-color: #888;
}

.modal {
	display: none;

	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	/*Opacity veranderen, zonder kleur te veranderen*/

}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.post-content {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.post-content img {
	max-width: 100%;
	max-height: 200px;
	object-fit: contain;
	margin: 5px;
	cursor: pointer;
}

.post-content img.expanded {
	max-width: none;
	max-height: none;
	width: auto;
	height: auto;
}